.aboutWrapper {
  min-height: calc(100vh - 115px);
  background-color: var(--BGColor);
  color: var(--textColor);
}

.questions__answerAbout {
  display: block;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  transition: color 250ms linear;

  &:hover {
    color: rgb(253 45 120);
  }
}