.banner__img {
  max-width: 450px;
  width: 100%;
  height: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0 auto 20px;
}

.banner__wrapper {
  width: 50%;

  @media (width < 900px) {
    display: none;
  }
}

.banner__infoLeft {
  position: absolute;
  top: 20px;
  left: -5px;
  display: flex;
  gap: 20px;

  @media (width < 1200px) {
    top: 0px;
  }
}

.banner__BtnInfo {
  position: absolute;
  bottom: -25px;
  right: -65px;
  display: flex;
  gap: 20px;
}

.banner__infoText {
  max-width: 200px;
  margin-top: -50px;
  font-family: 'GloriaHallelujah-Regular';
  font-size: 15px;
  color: var(--textColorSecondary);
  transform: rotate(-15deg);

  @media (width < 1200px) {
    max-width: 130px;
    font-size: 12px;
  }
}

.banner__arrow {
  transform: rotate(30deg);
  color: var(--textColorSecondary);

  @media (width < 1400px) {
    margin-top: -20px;
  }
  @media (width < 1200px) {
    transform: rotate(60deg);
    margin-top: -20px;
  }
}

.banner__btnGame {
  display: block;
  padding: 5px 20px;
  margin: 0 auto;
  font-size: 18px;
  background-color: transparent;
  color: var(--textColor);
  cursor: pointer;
  border: none;
  outline: none;
  letter-spacing: 1.1px;
  position: relative;
}

.banner__btnGame--arrow {
  transform: rotate(-165deg);
  color: var(--textColorSecondary);
}

.banner__BtnInfoText {
  margin-top: 0px;
  color: var(--textColorSecondary);
  font-size: 14px;
}

.banner__imgWrapper {
  position: relative;
}