.header {
  padding: 20px 0px;
  font-family: 'Kurale-Regular';
  background-color: var(--BGColor);
  color: var(--textColor);
}

.header--width {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  @media (width < 1300px) {
    justify-content: space-between;
  }

  @media (width < 900px) {
    max-width: 100%;
    padding: 0 30px;
  }

  @media (width < 750px) {
    padding: 0 20px;
  }
}

.navigation {
  display: flex;
  gap: 35px;
  font-size: 30px;

  @media (width < 1200px) {
    font-size: 20px;
  }

  @media (width < 900px) {
    gap: 25px;
  }
}

.navDesktop {
  @media (width < 749px) {
    display: none;
  }
}

.headerMobile {
  @media (width > 750px) {
    display: none;
  }
}

.logo {
  font-size: 35px;
  font-family: 'GloriaHallelujah-Regular';

  @media (width < 1200px) {
    font-size: clamp(15px, 3.33vw, 25px);
  }
}

.navigation__link {
  padding: 15px 5px;
}

.songBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  color: var(--textColor);
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 30px;

  @media (width < 750px) {
    display: none;
  }
}

.headerNuv__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation__item {
  position: relative;

  &--resume {
    cursor: pointer;

    @media (width < 750px) {
      font-size: clamp(15px, 3.33vw, 25px);
    }
  }
}

.nav-circle {
  position: absolute;
  top: -10px;
  left: -14px;
  width: 130px;
  height: 70px;
  color: var(--textColor);
  display: none;

  @media (width < 1200px) {
    width: 105px;
    height: 50px;
  }

  &--long {
    width: 160px;

    @media (width < 1200px) {
      width: 120px;
    }
  }

  &--shirt {
    width: 115px;

    @media (width < 1200px) {
      width: 90px;
    }
  }
}

.navigation__link {
  &.active+.nav-circle {
    display: block;
  }
}

.headerMobile__btn {
  background-color: transparent;
  color: var(--textColor);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: clamp(14px, 3.33vw, 25px);
}