.aboutMainInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 80%;
  margin: 20px auto;
}

.aboutMainInfo__img {
  border-radius: 20px;
  width: 400px;
}

.aboutMainInfo__imgWrapper {
  width: 40%;
}

.aboutMainInfo__text {
  line-height: 35px;
  font-size: 19px;
  text-align: justify;
}

.aboutMainInfo__wrapper {
  width: 60%;
}

.aboutMainInfo__title {
  text-align: center;
  padding: 30px;
  font-family: 'GloriaHallelujah-Regular';
  font-size: 35px;
}